html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100
}

.main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

}

nav ul {
	list-style: none;
	width: 300px;
	float: right;
	padding: 5px;

}
nav ul li {
	display: inline;
	padding: 10px;
	margin: 0 auto;

}


nav ul li a {
	text-decoration: none;
	font-size: 13px;
	color: #222;



}
nav ul li a:hover {
	text-decoration: underline;
	


}

#signIn{
	text-decoration: none;
	background-color: #4285f4;
	border: 1px solid #4285f4;
	border-radius: 2px;
	padding: 5px 10px;




}

ul a {
	color: white;
	text-decoration: none;
}

#signIn a,  {
	color: white;
	font-size: 13px;
	font-weight: bold;
	line-height: 28px;
	text-decoration: none;

}

nav ul li img {

	position: relative;
	top: 5px;

}


.content {
	position: relative;
	top: 100px;
	height: 900px;
	width: 100%;
	margin: 0 auto;
}

.content .logo {
	width: 50%;	
	margin: 0 auto;
	padding: 100px 0 15px 0;
	text-align: center;

	
	

}
.content .logo img{
	width: 272px; 
	height: 92px;
	text-align: center;
	

}
.search{
	 width: 400px;
     margin: 0 auto;
     left: -100px;
     position: relative;

}

.input{
	width: 600px;
	height: 40px;
	margin: 0 auto;
	position: relative;
	font-size: 20px;
	border: 1px solid #e9e9e9;


}

.input:focus{

	outline: none !important;
    border:1px solid rgb(0, 114, 255);
    
}
.input:visited{

	border: 1px solid yellow;
}

.voice{
	display: inline;
	position: relative;
	height: 24px;
	width: 24px;
	top: 29px;
	left: 560px;
	z-index: 1;

}

.voice img {
	background-size: 24px 24px;
	height: 23px;
	width: 23px;
	position: relative;


}